extends layout

block content
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  .ignore(style="font-family:Lato;")
  .ignore(style="font-family:Merriweather;")

  include navbar

  .container
    .row.header
      include profile_component

      .container.col-lg-8
        .row.header
          .col-lg-10.col-lg-offset-1.tweet-text
           .form-group
             label.control-label.twwet-title(for="textArea") Title
             .input-group
               .form-control-wrapper
                 textarea#textArea(rows="2", maxLength="117", tabindex="2", autofocus, placeholder="Introduce your tweetstorm. You can tag @username, paste links or use #hashtags.")
               .input-group-addon.text-length 0/100


          .row.col-lg-3.col-lg-offset-1
            label.control-label.twwet-title(for="textArea") Post

          //- Text editor
          .row.col-lg-10.col-lg-offset-1
            .panel.panel-default
              .panel-body#t
                .editable.textBox(tabindex="1")#m Write something interesting: without character limits.
              .label.post-length 54/10000

          //- Tweet button
          .row.col-lg-3.col-lg-offset-1
            .btn-group.pull-right
              a.btn.btn-info.tweet-button
                | Tweet
                .ripple-wrapper

          .row.col-lg-10.col-lg-offset-1
            h3 Your Feed
            each val in posts
              .row.header
                .col-lg-12
                  .thumbnail.text-center
                    a(href="/posts/#{val.slug}")
                      h4 #{val.title}

                    p by&nbsp;
                      a(href="/#{val.author}")
                        p @#{val.author}
                    p.left !{val.content}

  //- The result of posting the tweet
  .col-lg-6.col-lg-offset-3.tweetresult
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 You just hacked the Tweetstorm.
        .embed

  img#image(style="display:none")
  span#profileUsername(style="display:none") #{user.username}


  include footer
