extends layout

block content
  include navbar
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  .ignore(style="font-family:Lato;")
  .ignore(style="font-family:Merriweather;")

  .container
    .row.header
      include profile_component

      .container.col-md-8.dashboard-feed-container
        .row.col-md-10.col-md-offset-1
          .form-group
            .input-group.squall-title
              .form-control-wrapper
               textarea#textArea(rows="1", maxLength="117", tabindex="1", autofocus, placeholder="Title/Tweet. You can tag @username, paste links or use #hashtags.")
              .input-group-addon
            .text-length.light-gray 0/60 characters left

          //- Text editor
          .panel-default.squall-content
            .panel-body#t
              .editable.textBox(tabindex="2", data-placeholder="Create your squall")#m
          .post-length.light-gray 0/2000 characters left

          a.btn.btn-info.previewtoggle Show preview

          //- Tweet button
          .btn-group.pull-right
            a.btn.btn-info.tweet-button(tabindex="3")
              | Publish
              .ripple-wrapper


        .row.col-md-10.col-md-offset-1
          .panel.panel-body#preview(style="display:none")
            h1.post-title#previewtitle
            .post-content#previewcontent
            .post-attribution.text-center.secondary-text-color
              p by #{user.name}
              p
                | Posted
                span.post-time-date #{new Date}
                |  via @SquallApp
          

        .row.col-md-10.col-md-offset-1.dashboard-feed
          //include leaderboard_component
          each val, index in posts
            .row.header
              .col-lg-12
                .post-container
                  .post-author
                    a(href="/#{val.author}")
                      img.author-image(src="#{avatar_urls[val.author]}")
                      .author-name #{val.author}
                  .post-body.dashboard-post-body
                    h1.post-title
                      a(href="/#{val.author}/#{val.slug}")
                        span #{val.title}
                     .post-content!= val.content.substring(0,140)+"...."
                  .post-footer
                    .post-meta
                      .post-time #{val.created_at}
                      .post-stats
                        span.retweets
                          strong #{val.viewCount}
                          |  Views

  //- The result of posting the tweet
  .col-lg-6.col-lg-offset-3.tweetresult
    .bs-component
      .alert.alert-dismissable
        button.close(type="button", data-dismiss="alert") ×
        h4 You just hacked the Tweetstorm.
        .embed


  span#profileUsername(style="display:none") #{user.username}
  img#image(style="display:none")
  div#image-container(style="display:none;width: 595px;background:#ffffff;")
    div#image-header(style="display:block;text-align: center;")
      div(style="text-align:center;")
      
        div(style="margin: 0 4%; display: inline-block;")
          img#image-header-avatar(src="#{user.photo}", style="margin-top: -25px; width: 60px; height: 60px; border-radius: 30px; border: 2px solid #2CBBD4; ")
        div(style="display: inline-block; text-align: left;")
          div(style="margin: 0 4%;font-weight: bolder;display: inline-block; padding-top: 16px;")
            div 
              h3#image-header-name(style="margin: 0;font-family: 'Merriweather', Georgia, serif;font-weight: bolder; ") #{user.name}
            div#image-header-timestamp(style="color:#727272;font-size: smaller;") 
            
      div(style=" direction: ltr; text-align: left; margin: 42px 5% 6px 5%; ")
        h2#image-header-title(style="color:#0790a8;margin: 0;") 
    img#image-body(style="display:block")
    div#image-footer(style="display:block;")
      div(style=" text-align: center; background-color: #0790A8; ")
        img(src="/images/squall_image_footer.png")
  
  
  include footer
