.col-10-lg
  .panel.panel-body
    .post_container.center.text-center
      h1 Top Squallers
      table.table.text-left
        th Rank
        th User
        th Score
        each val, index in leaders
          tr
            td.p #{index+1}
            td
              a(href="/#{val.username}")
                img.img-circle(src='#{val.photo}', width="40px")(style="margin-right: 7px")
                span #{val.username}
            td #{val.viewScore}
