.col-3-md
  .panel-body
    .post_container
      label.control-label Top Squallers
      table
        th
        th Rank
        th Username
        th Score
        each val, index in leaders
          tr
            td #{index+1}

            td
              a(href="/#{val.username}")
                img.img-circle(src='#{val.photo}', width="40px")
            td
              a(href="/#{val.username}")
                span #{val.username}
            td #{val.viewScore}
