extends layout

block content
  include navbar
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  .container
    .row.header.col-md-10.col-md-offset-1
      .col-md-12
        .post-container
          .post-author
            a(href="/#{post.author}")
              img.author-image(src="#{avatar_url}")
              .author-name #{post.author}
          .post-body
            .panel-default
              .panel-body#preview(style="background:white")
                h1.post-title #{post.title}
                .post-content#m !{post.content}
                .post-attribution.text-center.secondary-text-color
                  p by #{author_user.name}
                  p
                    | Posted&nbsp;
                    span.post-time-date #{post.created_at}
                    |  via @SquallApp
          .post-footer
            if tweet
              div#tweet !{tweet}
            .post-meta
              .post-time #{post.created_at}
              .post-stats
                span.retweets
                  strong #{post.viewCount}
                  |  Views
            .post-social
              button.sharepost.btn.btn-info
                i.fa.fa-twitter
                |  Tweet This
              //
                .post-share
                  a(href='#')
                    i.fa.fa-facebook-official
                  a(href='#')
                    i.fa.fa-google-plus-square
                  a(href='#')
                    i.fa.fa-pinterest-square








  img#image(style="display:none")

  include footer
  script(src='/js/postscripter.js')
