extends layout
block content
  link(href='/css/home.css', rel='stylesheet')
  link(href='/css/style.css', rel='stylesheet')
  link(href='/css/medium-editor.min.css', rel='stylesheet')
  link(href='/css/flat.min.css', rel='stylesheet')

  include navbar

  .container
    .row.header
      .col-lg-12
        .thumbnail.text-center
          h1 #{title}
          p
            a(href="#{author_link}") by @#{author}
            p #{post.created_at}
          #t.p #{contents}

            .button.btn.btn-info.followperson
              span Follow
                #author_name #{author}

          a.btn.btn-info.tweetpost
            span.fa.fa-twitter.fa-2x(style="color: rgb(29,202,255)") Share

  img#image(style="display:none")


span#profileUsername(style="display:none") #{author}

  include footer
  script(src='/js/postscripter.js')
