.col-md-3.text-center
  .panel-body
    img.profile.img-circle(src='#{large_photo}', width="150px")
    a.primary-text-color(href="/#{user.username}")
      h3 #{user.name}
    h5.bottom-margin.secondary-text-color
      span.fa.fa-twitter.fa-2x
      a.secondary-text-color(href="https://twitter.com/#{user.username}") @#{user.username}
    hr
    .row
      .col-sm-12.text-center.bottom-margin
        .huge-number #{post_count}
        p
          .big-number-label posts
      .col-sm-12.bottom-margin
        a(href="/leaderboard")
          .big-number #{rank}
          p
            .small-number-label rank
//      .col-sm-6.bottom-margin
//        a.secondary-text-color(href="/#{user.username}/following")
//          span.normal-font-size #{user.following.length}
//          .big-number-label following
//      .col-sm-6.bottom-margin
//        a.secondary-text-color(href="/#{user.username}/followers")
//          span.normal-font-size #{user.followerCount}
//          .big-number-label followers
//      .col-sm-12
//        if currentUser && (user.id !== currentUser.id)
//          unless currentUser.isFollowing(user)
//            button.btn.btn-info.btn-block.followuser#follow(data-username=user.username) Follow
//          else
//            button.btn.btn-danger.btn-block.unfollowuser#unfollow(data-username=user.username) Unfollow
