extends layout

block content
  include navbar
  .container
    .row.header
      include profile_component

      .col-lg-8
        each val in posts
          .row.header
            .col-lg-10.col-lg-offset-1
              .post-container
                .post-body
                  h1.post-title
                    a(href="/#{val.author}/#{val.slug}")
                      span #{val.title}
                  .post-content!= val.content.substring(0,140)+"...."
                .post-footer
                  .post-meta
                    .post-time #{val.created_at}
                    .post-stats
                      span.retweets
                        strong #{val.viewCount}
                        |  Views
                      //
                        span.favorites
                          strong 180
                          |  Favorites
            //      .post-social
              //      .tweet-button
                //      a(href='#')
                  //      i.fa.fa-twitter
                    //    |  Tweet This
                    //
                      .post-share
                        a(href='#')
                          i.fa.fa-facebook-official
                        a(href='#')
                          i.fa.fa-google-plus-square
                        a(href='#')
                          i.fa.fa-pinterest-square


  span#profileUsername(style="display:none") #{user.username}
  include footer
