extends layout

block content

  include navbar

  .container
    .row.header
      .col-lg-4
        .panel
          .panel-body.text-center
            img.img-circle(src='#{large_photo}', width="200px")
            .h3
            span.fa.fa-twitter.fa-2x(style="color: rgb(29,202,255)")
            a(href="https://twitter.com/#{user.username}") @#{user.username}
            h3.bottom-margin #{user.name}

            .row
              .col-sm-12.text-center.bottom-margin.edge-bottom
                .huge-number #{posts.length}
                .big-number-label posts
              .col-sm-6.text-center.edge-right.bottom-margin
                .big-number #{followerCount}
                .big-number-label followers
              .col-sm-6.text-center.bottom-margin
                .big-number #{user.following.length}
                .big-number-label following
              .col-sm-12
                if currentUser && (user.id !== currentUser.id)
                  unless currentUser.isFollowing(user)
                    button.btn.btn-info.btn-block#follow(data-username=user.username) Follow
                  else
                    button.btn.btn-danger.btn-block#unfollow(data-username=user.username) Unfollow

      .col-lg-8
        .text-center
          h3 Posts

          each val in posts
            .row.header
              .col-lg-10.col-lg-offset-1
                .thumbnail.text-center
                  a(href="/posts/#{val.slug}")
                    h4 #{val.title}
                  p #{val.content}









  include footer
